@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
@import "Landing.css";
@import "card.css";
@import "footer.css";


*{
    margin: 0;
    padding:0;
    font-family: 'Urbanist', sans-serif;
}
